<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для кандидатов</title>

</head>
<body  bgcolor="#181513">
<font color="#c0c0c0">
     <header>
        <center>
            <h2 onclick="window.location='/index'">
                STAR WARS
            </h2>
        </center>
    </header>
    <center>
    <form method="POST" action="candidate">{% csrf_token %}
        <table>
            <tr>
                <td colspan="2" align="center">
                    Заполните форму
                </td>
            </tr>
            <tr>
                <td>
                    <label>Введите свою планету</label><br>
                </td>
                <td>
                    <select id="p" name="planet">
                        {% for p in planet %}
                        <option value={{p.id}}>{{ p.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Введите email</label><br>
                </td>
                <td>
                    <input type="text" name="email" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Введите имя</label><br>
                </td>
                <td>
                    <input type="text" name="name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Введите возраст</label><br>
                </td>
                <td>
                    <input type="number" name="age" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Далее" >
                </td>
            </tr>
        </table>
    </form>
</center>
</font>
</body>
</html>